$primary: #ff8c00;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
	font-family: 'DM Sans', sans-serif;
}

main {
	min-height: 100vh;
}

.jumbotron {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://i.ibb.co/X8ZtPXZ/music.jpg);
	background-size: cover;
	background-position: center;
	height: 60vh;
}

.search-bar {
	min-width: 400px;
}

@media (max-width: 768px) {
	.jumbotron {
		height: 50vh;
	}
}

@media (max-width: 576px) {
	.jumbotron {
		height: 40vh;
	}
	.search-bar {
		min-width: 100%;
	}
}